@import url(https://fonts.googleapis.com/css?family=Orbitron);

@keyframes in  {
	from { transform: rotateX(60deg); }
	to { transform: rotateX(0deg); }
}

@keyframes out {
	from { transform: rotateX(0deg); }
	to { transform: rotateX(60deg); }
}

@keyframes scale {
	from { transform: scale(3,3); }
	to { transform: scale(1,1); }
}

@keyframes slide {
	from { height: 0px; }
  to { height: 600px; }
}

body {
  background: rgb(0, 0, 0);
  min-height: 100vh;
  font-family: 'Orbitron', sans-serif;
  font-size: 50px;
  padding: 0;
  margin: 0;
}


.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.menu-container {
  box-shadow: 0 0px 50px rgba(0, 0, 0, 0.7);
  position: relative;
  align-items: center;
  transform: translate(0);
  margin: 0 auto;
  width: 350px;
  
}

.menu-item {
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  color: white;
  cursor: pointer;
  justify-items: center;
  position: relative;
  font-size: 24px;
  width: 600px;
  justify-content: center;
  letter-spacing: 4px;
  text-align: center;
}
:active {
  box-shadow: 0 2px 3px hsla(0, 0, 0, 0.7);
}


div-block
{
  padding:100px;
  animation: slide 1s linear;
  overflow:hidden;
  height:600px;
}

html
{
  background:black;
  color:#00AAFF;
  font-family: 'Orbitron', sans-serif;
}


button
{
  font-size:30px;
  border: 3px solid;
  line-height:90px;
  transform: rotateX(60deg);
  -webkit-text-fill-color: #61dafb;
  font-family: 'Orbitron', sans-serif;
  border-color: #61dafb;
  width:100%;
  border-radius:4px;
  text-align:center;
  animation: out 0.5s linear;
  background-color:black;
  margin-top:-20px;
  position:relative;
}

button:hover
{
  transform: rotateX(0deg);
  animation: in  0.5s  linear;
}
