.cell {
    background-color: #34495E;
    /* border: 1px solid lightcyan; */
    color: white;
    /* height: 100%;
    width: 100%; */
    /* //should = 100% */
    text-align: center;
    display: inline-flex;
}
.head1 {
    background-color: red;
}

.head2 {
    background-color: blue;
}

.wall {
    background-color: #F39C12;
}

.trail1 {
    background-color: #A62B17;
}

.trail2 {
    background-color: #479FF8;
}
