.cell {
    background-color: #282c34;
    /* border: 1px solid lightcyan; */
    color: white;
    /* height: 100%;
    width: 100%; */
    /* //should = 100% */
    text-align: center;
    display: inline-flex;
}
.head1 {
    background-color: blueviolet;
}

.head2 {
    background-color: rgb(4, 114, 46);
}

.wall {
    background-color: cyan;
}

.trail1 {
    background-color: red;
}

.trail2 {
    background-color: rgb(200, 238, 46);
}
